<html>
<body>
{{# id}}
<h1>Schema Edit {{id}}</h1>
{{/ id}}
{{^ id}}
<h1>Schema Add</h1>
{{/ id}}


{{# errors}}
<p style="color: red;">{{.}}</p>
{{/ errors}}

<form method="post" action="/schemas/{{id}}">
{<br/>
  "df_fields:"<textarea  name="df_fields" rows="20" cols="60">{{df_fields}}</textarea><br/>
}
  <button type="submit">Save</button>
</form>
<a href="/schemas">Cancel</a>

</body>
</html>
