<html>
<body>
<h1>Forms</h1>
<ul>
  {{# forms}}
  <li><a href="/forms/{{.}}">{{.}}</a>
    <form action="/forms/{{.}}" method="post">
      <input type="hidden" name="_method" value="DELETE">
      <button name="submit">Delete</button>
    </form>
  </li>
  {{/ forms}}
</ul>
<a href="/forms/add">Add</a>
</body>
</html>
