<html>
<body>
<h1>Form Edit</h1>

{{# errors}}
<p style="color: red;">{{errors}}</p>
{{/ errors}}

<form method="post" action="/forms">
{<br/>
  "df_id": "<input name="df_id" type="text" readonly value="{{df_id}}">"<br/>
  "df_type": "<input name="df_type" type="text" readonly value="{{df_type}}">"<br/>
  "df_schema_id": "<input name="df_schema_id" type="text" value="{{df_schema_id}}">"<br/>
  "df_sections:"<textarea  name="df_sections" rows="20" cols="60">{{df_sections}}</textarea><br/>
}
  <button type="submit">Save</button>
</form>
<a href="/forms">Cancel</a>

</body>
</html>
